<div class="container d-flex align-items-center justify-content-center h-100vh">
  <div class="login-wrapper">
    <h2 class="font-bold text-center title mb-2">Sign in</h2>
    <p class="text-center mb-6 sub-title">Welcome to the official Web Chat Hub.</p>

    <!-- Form -->
    <form class="mt-5">
      <div class="input-group mb-4">
        <span class="input-group-text input-svg" id="email">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#237fff" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
          </svg>
        </span>
        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="email">
      </div>

      <div class="input-group mb-4">
        <span class="input-group-text input-svg" id="password">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#237fff" class="bi bi-bag-dash-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6 9.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
          </svg>
        </span>
        <input type="text" class="form-control" placeholder="Enter your password" aria-label="Enter your password" aria-describedby="password">
      </div>

      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Sign In</button>
      </div>
    </form>

    <p class="text-center mt-5">
      Don't have an account yet. <a href="signup.html" class="sign-up">Sign up</a>
    </p>
  </div>
</div>
